@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

ul{
    list-style: none;
}

body {
    padding:2.2rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 62.5%;
    overflow-x: hidden;
}

/*Utility classes*/

.btn {
    padding: 1.4rem 3rem;
    border-radius: 10rem;
    text-decoration: none;
    position: absolute;
}

.btn:active {
    transform: translate(-50%, -70%) scale(.9) translateY(3px);
}

.white {
    background: #fff;
    transition: .4s;
    transform: translate(-50%, -70%);
}

.white:hover {
    transform: translate(-50%, -70%) scale(.9) translateY(-3px);
    animation: pulse-white 0.4s ease-out;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.16), 
                0 8px 8px rgba(0,0,0,0.20);
}

.white:active {
    transform: translate(-50%, -70%) scale(.9) translateY(3px);
}

@keyframes pulse-white {
    0%{
        box-shadow: 0 0 15px #fff, 0 0 25px #fff;
    }
    50% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5), 0 0 0 20px rgba(255, 255, 255, 0.5);   
    }
    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1)  , 0 0 0 80px rgba(255, 255, 255, 0.1);
    }
}

.purple {
    background: #6D24A7;
    transition: .4s;
    transform: translate(-50%, -70%);
}

.purple:hover {
    
    transform: translate(-50%, -70%) scale(.9) translateY(-3px);
    animation: pulse-purple 0.4s ease-out;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.16), 
                0 8px 8px rgba(0,0,0,0.20);
    
}

.purple:active {
    transform: translate(-50%, -70%) scale(.9) translateY(3px);
}

@keyframes pulse-purple {
    0%{
        box-shadow: 0 0 15px #6D24A7, 0 0 25px #6D24A7;
    }
    50% {
        box-shadow: 0 0 0 10px rgba(108, 36, 167, 0.5), 0 0 0 20px rgba(108, 36, 167, 0.5);   
    }
    100% {
        box-shadow: 0 0 0 20px rgba(108, 36, 167, 0.1)  , 0 0 0 80px rgba(108, 36, 167, 0.1);
    }
}

.title {
    font-size: 2.6rem;
    background: linear-gradient(to top, rgb(255, 0, 204), rgb(51, 51, 153));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.5rem;
    transition: .2s;
}

.title:hover {
    transform: skewY(8deg) scale(1.2);
}

h3, p {
    color:#777777;
}

.form-button {
    transform: translate(0, -50%)
}

.form-button:hover {
    
    transform: translate(0, -50%) scale(.9) translateY(-3px);
    animation: pulse-purple 0.4s ease-out;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.16), 
                0 8px 8px rgba(0,0,0,0.20);
    
}

.form-button:active {
    transform: translate(0, -50%) scale(.9) translateY(3px);
}

/* Nav btn */

.nav-container {
    width:85px;
    height:85px;
    position:fixed;
    right: 70px;
    top: 70px;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
    z-index: 3000;
}

.nav {
    width:35px;
    height: 2px;
    background: black;
    margin-top: 4px;
    margin-bottom: 4px;
    z-index: 3000;
    transition: .2s;
}

.nav-hover-state:hover .nav:nth-child(2){
    margin: 0.4rem 0;
}

.nav-active-state .nav:nth-child(1) {
    transition: .2s;
    transform:rotate(45deg) translate(4px, 10px);
    margin-left: 8px;
}

.nav-active-state .nav:nth-child(2) {
    transform: translateX(-50px);
    opacity: 0;
}

.nav-active-state .nav:nth-child(3) {
    transition: .2s;
    transform:rotate(-45deg) translate(4px, -10px);
    margin-left: 8px;
}

/* Responsive Nav */

.responsive-nav {
    width: 85px;
    height: 85px;
    right: 70px;
    top: 70px;
    background: linear-gradient(to top, rgb(255, 0, 204), rgb(51, 51, 153));
    position: fixed;
    z-index: 1;
    opacity: 0;
    transition: .3s;
    border-radius: 50%;
}

.nav-activator {
    transition: .3s;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    transform: translate(70px, -70px);
    opacity:1;
}

.nav-options {
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity:0;
}

.nav-ul-activator{
    animation: flyIn 0s forwards;
    animation-delay: .2s;
    animation-duration: .8s;
}

@keyframes flyIn {
    0%   {left: -50%;opacity:1;}
    50%  {left: 60%; opacity:1;}
    100% {left:50%; opacity:1;}
}

.responsive-nav ul li {
    margin: 1.5rem;
    font-size: 2.3rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    padding: 1rem 1rem;
    position: relative;
    overflow: hidden;
    transition: .4s;
}

.responsive-nav ul li:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transition: .4s;
  }
  .responsive-nav ul li:hover {
    color: #6D24A7;
    transform: translateX(10px)
  }
  .responsive-nav ul li:hover:before {
    width: 100%;
  }

/* Header styles */

header {
    height: 95vh;
    background-image:linear-gradient(to top, rgba(255, 0, 204, 0.253), rgba(51, 51, 153, 0.849)), url("../img/landing-bg.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative; 
}

.header-nav-container h2 {
    width:85px;
    height:85px;
    top: 70px;
    left: 70px;
    position: absolute;
    color: #FFFFFF;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 900;
    
}

.header-text-container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-text {
    color:#FFFFFF;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 6rem;
    line-height: 4rem;
}

.main {
    font-size: 4rem;
    letter-spacing: 0.5rem;
}

.sub {
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

.header-text-container a {
    margin-top: 6rem;
    color: #777777;
    font-size: 1.2rem;
    letter-spacing: normal;
    text-transform: uppercase;
}

/*main includes all section between header and footer*/

/*Section about styling*/

.section-about {
    display: flex;
    flex-direction: column;
    margin-top: -20vh;
    padding:20rem 15rem;
    background:#F7F7F7;
}

.section-about-title h2 {
    margin-top: -2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
}

.section-about-content {
    display: flex;
    justify-content: space-between;
}

.section-about-info{
    display: flex;
    flex-direction: column;
}

.section-about-text {
    text-align: left;
    max-width: 100ch;
    margin-bottom: 2rem;
}

.section-about-text h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.section-about-text p {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

.section-about-info a {
    color: #6D24A7;
    font-size: 1.3rem;
    margin-top: 2rem;
    text-decoration: underline;
    transition: 0.2s all;
    padding: 0.3rem 0;
    width: 130px;
}

.section-about-info a:hover {
    color: #FFFFFF;
    font-size: 1.3rem;
    margin-top: 2rem;
    text-decoration: none;
    background:#6D24A7;
    transform: translateY(-3px);
}

.section-about-img {
    position: relative;
    margin-right:18rem;
}

.section-about-img img {
    transition: 0.2s all;
    position:absolute;
    width: 356px;
    height: 237px;
    box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    outline-offset: 1.5rem;
}

.img-child-1 {
    top: 0px;
    left: -350px;
    
}

.img-child-2 {
    top: 50px;
    left: -60px;
}

.img-child-3 {
    top: 150px;
    left: -220px;
}

.section-about-img img:hover {
    position: absolute;
    transform: translateY(-5px) scale(1.05);
    z-index: 3000;
    background: transparent;
    outline: 1rem solid #6D24A7;

}

/*Section features styling*/

.section-features {
    margin-top: -7rem;
    background-image:linear-gradient(to top, rgba(255, 0, 204, 0.253), rgba(51, 51, 153, 0.849)), url("../img/section-feature.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    transform: skewY(-7deg);
    padding:14.8rem 15rem;

}

.section-features-container {
    transform: skewY(7deg);
    display: flex;
    justify-content: center;
}

.section-features-container [class^="feature"]:not(:last-child) {
    margin-right: 4.4rem;
}

.feature {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 285px;
    background: rgba(247, 247, 247, 0.856);
    padding: 1.7rem 1.3rem;
    border-radius: 0.2rem;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
    transition: 0.3s all;
    flex-shrink: 0;
}

.feature:hover {
    transform: scale(1.02) translateY(-15px); 
}


.feature h3 {
    font-size: 1.2rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

i {
    padding-top: 1rem;
    font-size: 5rem;
    background: linear-gradient(to top, rgb(255, 0, 204), rgb(51, 51, 153));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
}

/*Section tours styling*/

.section-tours {
    display: flex;
    flex-direction: column;
    margin-top: -20vh;
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 21rem;
    padding-bottom: 15rem;
    background:#F7F7F7;
}

.section-tours-title h2 {
    margin-top: 2rem;
    margin-bottom: 6rem;
    text-align: center;
}

.section-card-container{
    position: relative;
    padding: 20rem 15rem;
    display: flex;
}

.middle {
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.card-1 {transform:translate(-169%, -50%);}
.card-2 {transform:translate(-50%, -50%);}
.card-3 {transform:translate(69%, -50%);}
  
  .card {
    cursor: pointer;
    width: 400px;
    height: 620px;
  }
  
  .front {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s;
    background: #fff;
    transform: perspective(600px) rotateY(0deg);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07)
;
  }
  
  .back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: .5s ;
    background: linear-gradient(to top, rgb(255, 0, 204), rgb(51, 51, 153));
    transform: perspective(600px) rotateY(180deg);
    position: absolute;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07)
;
  }

  .back h3 {
      margin-top: 3rem;
      margin-bottom: 10rem;
  }

  .back-content h3 {
      color:#fff;
      font-size: 4rem;
      font-weight: 100;
  }

  .back-content p {
      color: #fff;
      font-size: 1rem;
      left: 50%;
      position: absolute;
      transform:translate(-50%, 0);
  }

  .back a {
      top:100%;
      left: 50%;
      transform:translate(-50%, -70%);
      text-align: center;
      font-size: 1.2rem;
      width: 240px;
  }
  
  .back {
    transform: perspective(600px) rotateY(180deg);
  }

  
  .card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
  }
  
  .card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
  }


.card-header {
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    height: 260px;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}

.forest-explorer {
    background-image: linear-gradient(to top, rgba(255, 0, 204, 0.253), rgba(51, 51, 153, 0.849)), url("../img/feature-1.jpg");
}

.forest-hiker{
    background-image: linear-gradient(to top, rgba(255, 0, 204, 0.253), rgba(51, 51, 153, 0.849)), url("../img/feature-2.jpg");
}

.forest-adventure{
    background-image: linear-gradient(to top, rgba(255, 0, 204, 0.253), rgba(51, 51, 153, 0.849)), url("../img/feature-3.jpg");
}

.card-header-title h4 {
    position: absolute;
    background:linear-gradient(to top, rgb(255, 0, 204), rgb(51, 51, 153));
    padding:0.8rem 0.8rem;
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
}

.card-header-title h4:nth-child(1){
    top: 8.5rem;
    right: 0.3rem;
}

.card-header-title h4:nth-child(2){
    top: 11.7rem;
    right: 0.3rem;
}

.card-details ul {
    padding: 3rem 4.5rem;
    margin-top: -1rem;
}

.card-details ul li {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
    padding: 0 2rem 1rem 2rem;
    border-bottom: 1px solid #eee;
}

.section-tours-footer {
    margin-top: 8rem;
    text-align: center;
}

.section-tours-footer a {
    color: #FFFFFF;
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* Section Stories */

.section-stories {
    position: relative;
    text-align:center;
}

.video-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .20;
    overflow: hidden;
    z-index: -1;
    top: 0;
    left:0;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-stories-title h2 {
    padding-top: 12rem;
    margin-bottom: 6rem;
}

.story {
    margin:0 auto;
    transform: skewX(-12deg);
    background: #FFFFFF;
    box-shadow: 0 3rem 6rem rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.6);
    border-radius: 3px;
    padding: 4rem 4rem;
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin-bottom: 6rem;
}

.story img {
    clip-path: circle(50% at 50% 50%);
    width: 11rem;
    height: 11rem;
    transform: skewX(12deg);
}

.story-text {
    transform: skewX(12deg);
    line-height: 1.5rem;
    margin-left: 2rem;
    text-align: left;
}

.story-text h3 {
    font-size: 1.2rem;
}

.story-text p {
    padding-top: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

.section-stories-footer {
    padding-bottom: 12rem;
}

.section-stories-footer a {
    color: #6D24A7;
    font-size: 1.3rem;
    text-decoration: underline;
    transition: 0.2s all;
    padding: 0.3rem 0;
    width: 130px;
}

.section-stories-footer a:hover {
    color: #FFFFFF;
    font-size: 1.3rem;
    text-decoration: none;
    background:#6D24A7;
    transform: translateX(-3px);
}

/* Section Booking */

.section-booking {
    background:#6D24A7;
    padding: 12rem 15rem;

}

.booking-form-container {
    display: flex;
    justify-content: center;
}

.booking-form {
    background-image: linear-gradient(105deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 50%, transparent 50%), url('../img/booking-bg.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.2);
    width:100%;
    min-width: 1350px;
}

.form h2 {
    text-transform: uppercase;
    margin-bottom: 3rem;
    letter-spacing: 0.25rem;
}

.form {
    display:block;
    width: 50%;
    padding: 5rem;
    position: relative;
}

.form input[type="text"], .form input[type="email"] {
    padding: 1.2rem;
    font-size: 1.2rem;
    border:none;
    display: block;
    margin-bottom: 3rem;
    max-width: 90%;
    min-width: 500px;
}

.form-radio {
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
    align-items: center;
    margin-bottom: 5rem;
}

.form a {
    color: #FFFFFF;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 1.1rem 3rem;
}

.radio {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    position: relative;
    padding-left: 30px;
}

.radio + .radio {
    margin-left: 4rem;
}

.radio input[type="radio"]{
    display: none;
}

.radio p {
    margin-left: 1.5rem;
}

.radio span {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 5px solid #6D24A7;
    display: block;
    position: absolute;
    left:0;
    top: -3px;
}

.radio span:after {
    content: "";
    height: 16px;
    width: 16px;
    background: #6D24A7;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: 300ms ease-in-out 0s;
}

.radio input[type="radio"]:checked ~ span:after {
    transform: translate(-50%, -50%) scale(1);
}


/* Footer Styling */

footer {
    padding: 10rem 15rem;
    background-color:#333333;
}

.footer-container h2 {
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 6rem;
    text-align:center;
}

.footer-text {
    display: flex;
    justify-content: center;
}

.footer-links {
    flex-shrink:0;
    margin-right: 6rem;
    width: 600px;
}

.footer-links ul {
    display: flex;
    border-top: 0.5px solid #777777;
    padding: 1.5rem 0 0 0;
    justify-content:flex-start;
}

.footer-links ul li {
    font-size: 1.1rem;
    color:#FFFFFF;
    transition: .2s;
}

.footer-links ul li:not(:last-child) {
    margin-right: 1rem
}

.footer-links ul li:hover {
    background: linear-gradient(to top, rgb(255, 0, 204), rgb(51, 51, 153));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: skewY(8deg) scale(1.2);
}

.footer-copyright {
    border-top: 0.5px solid #777777;
    flex-shrink:0;
    margin-left: 6rem;
    width: 600px;
}

.footer-copyright p {
    padding-top: 1.5rem;
    color:#FFFFFF;
    font-size: 1.2rem;
    float:right;
    transition: .2s;
}

.footer-copyright p span:hover {
    background: linear-gradient(to top, rgb(255, 0, 204), rgb(51, 51, 153));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: skewY(8deg) scale(1.2);
}






